<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cards</key>
	<dict>
		<key>Soldier</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>aesthetics</key>
				<dict>
					<key>face</key>
					<string>Human-Soldier-Face</string>
					<key>body</key>
					<string>Human-Soldier-Body</string>
					<key>feet</key>
					<string>Human-Foot</string>
					<key>weapon</key>
					<string>Human-Sword</string>
					<key>hand</key>
					<string>Human-Hand</string>
					<key>shield</key>
					<string>Human-Shield</string>
				</dict>
				<key>passiveAbilities</key>
				<array/>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>hp</key>
				<integer>3</integer>
				<key>ap</key>
				<integer>1</integer>
				<key>sp</key>
				<integer>2</integer>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>7</integer>
			<key>cost</key>
			<integer>50</integer>
			<key>type</key>
			<string>ship</string>
			<key>captain</key>
			<false/>
		</dict>
		<key>Berserker</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>passiveAbilities</key>
				<array>
					<string>Madness</string>
				</array>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>hp</key>
				<integer>3</integer>
				<key>ap</key>
				<integer>2</integer>
				<key>sp</key>
				<integer>2</integer>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>50</integer>
			<key>type</key>
			<string>ship</string>
			<key>captain</key>
			<false/>
		</dict>
		<key>Mana</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>passiveAbilities</key>
				<array>
					<string>Harvest</string>
				</array>
				<key>sprite</key>
				<string>Ship.png</string>
			</dict>
			<key>imagename</key>
			<string>Card2.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>0</integer>
			<key>type</key>
			<string>side</string>
			<key>captain</key>
			<false/>
		</dict>
		<key>Captain</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>passiveAbilities</key>
				<array/>
				<key>aesthetics</key>
				<dict>
					<key>face</key>
					<string>Human-General-Face</string>
					<key>body</key>
					<string>Human-General-Body</string>
					<key>feet</key>
					<string>Human-Foot</string>
					<key>shield</key>
					<string>Human-Shield</string>
					<key>armor</key>
					<string>Human-General-BodyArmor</string>
					<key>shoulders</key>
					<string>Human-General-Shoulder</string>
					<key>hand</key>
					<string>Human-Hand</string>
					<key>weapon</key>
					<string>Human-Sword</string>
				</dict>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>hp</key>
				<integer>5</integer>
				<key>ap</key>
				<integer>5</integer>
				<key>sp</key>
				<integer>2</integer>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>400</integer>
			<key>type</key>
			<string>ship</string>
			<key>captain</key>
			<false/>
		</dict>
		<key>Super Soldier</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>passiveAbilities</key>
				<array/>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>hp</key>
				<integer>3</integer>
				<key>ap</key>
				<integer>3</integer>
				<key>sp</key>
				<integer>2</integer>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>150</integer>
			<key>type</key>
			<string>ship</string>
			<key>captain</key>
			<false/>
		</dict>
		<key>Swift Soldier</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>passiveAbilities</key>
				<array>
					<string>FirstStrike</string>
				</array>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>hp</key>
				<integer>3</integer>
				<key>ap</key>
				<integer>1</integer>
				<key>sp</key>
				<integer>2</integer>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>75</integer>
			<key>type</key>
			<string>ship</string>
			<key>captain</key>
			<false/>
		</dict>
		<key>Burn</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>abilities</key>
				<array>
					<string>Burn</string>
				</array>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>targetType</key>
				<string>enemy</string>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>75</integer>
			<key>type</key>
			<string>instant</string>
		</dict>
		<key>Destruct</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>abilities</key>
				<array>
					<string>Destruct</string>
				</array>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>targetType</key>
				<string>enemy</string>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>125</integer>
			<key>type</key>
			<string>instant</string>
		</dict>
		<key>Madness</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>abilities</key>
				<array>
					<string>Madness</string>
				</array>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>targetType</key>
				<string>enemy</string>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>50</integer>
			<key>type</key>
			<string>instant</string>
		</dict>
		<key>Mind Control</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>abilities</key>
				<array>
					<string>MindControl</string>
				</array>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>targetType</key>
				<string>enemy</string>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>200</integer>
			<key>type</key>
			<string>instant</string>
		</dict>
		<key>Recover</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>abilities</key>
				<array>
					<string>Recover 2</string>
				</array>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>targetType</key>
				<string>friendly</string>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>75</integer>
			<key>type</key>
			<string>instant</string>
		</dict>
		<key>Grunt</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>passiveAbilities</key>
				<array/>
				<key>aesthetics</key>
				<dict>
					<key>face</key>
					<string>Human-Grunt-Face</string>
					<key>body</key>
					<string>Human-Grunt-Body</string>
					<key>feet</key>
					<string>Human-Foot</string>
					<key>shield</key>
					<string>Human-Shield</string>
					<key>armor</key>
					<string>Human-Grunt-BodyArmor</string>
					<key>hand</key>
					<string>Human-Hand</string>
					<key>weapon</key>
					<string>Human-Sword</string>
				</dict>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>hp</key>
				<integer>5</integer>
				<key>ap</key>
				<integer>2</integer>
				<key>sp</key>
				<integer>2</integer>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>125</integer>
			<key>type</key>
			<string>ship</string>
			<key>captain</key>
			<false/>
		</dict>
		<key>Super Grunt</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>passiveAbilities</key>
				<array/>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>hp</key>
				<integer>7</integer>
				<key>ap</key>
				<integer>2</integer>
				<key>sp</key>
				<integer>2</integer>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>175</integer>
			<key>type</key>
			<string>ship</string>
			<key>captain</key>
			<false/>
		</dict>
		<key>Scout</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>hp</key>
				<integer>2</integer>
				<key>ap</key>
				<integer>2</integer>
				<key>sp</key>
				<integer>4</integer>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>75</integer>
			<key>type</key>
			<string>ship</string>
			<key>captain</key>
			<false/>
		</dict>
		<key>Super Scout</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>passiveAbilities</key>
				<array/>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>hp</key>
				<integer>4</integer>
				<key>ap</key>
				<integer>2</integer>
				<key>sp</key>
				<integer>4</integer>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>125</integer>
			<key>type</key>
			<string>ship</string>
			<key>captain</key>
			<false/>
		</dict>
		<key>Swift Scout</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>passiveAbilities</key>
				<array>
					<string>FirstStrike</string>
				</array>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>hp</key>
				<integer>2</integer>
				<key>ap</key>
				<integer>2</integer>
				<key>sp</key>
				<integer>4</integer>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>100</integer>
			<key>type</key>
			<string>ship</string>
			<key>captain</key>
			<false/>
		</dict>
		<key>Medic</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>passiveAbilities</key>
				<array/>
				<key>tapAbility</key>
				<string>Heal</string>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>hp</key>
				<integer>2</integer>
				<key>ap</key>
				<integer>1</integer>
				<key>sp</key>
				<integer>2</integer>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>100</integer>
			<key>type</key>
			<string>ship</string>
			<key>captain</key>
			<false/>
		</dict>
		<key>Harvester</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>passiveAbilities</key>
				<array>
					<string>Harvest</string>
				</array>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>hp</key>
				<integer>2</integer>
				<key>ap</key>
				<integer>1</integer>
				<key>sp</key>
				<integer>2</integer>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>75</integer>
			<key>type</key>
			<string>ship</string>
			<key>captain</key>
			<false/>
		</dict>
		<key>Fence</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>passiveAbilities</key>
				<array/>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>hp</key>
				<integer>5</integer>
				<key>ap</key>
				<integer>0</integer>
				<key>sp</key>
				<integer>0</integer>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>50</integer>
			<key>type</key>
			<string>ship</string>
			<key>captain</key>
			<false/>
		</dict>
		<key>Wall</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>passiveAbilities</key>
				<array/>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>hp</key>
				<integer>7</integer>
				<key>ap</key>
				<integer>0</integer>
				<key>sp</key>
				<integer>0</integer>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>100</integer>
			<key>type</key>
			<string>ship</string>
			<key>captain</key>
			<false/>
		</dict>
		<key>Lightning Ninja</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>tapAbility</key>
				<string>Blink</string>
				<key>passiveAbilities</key>
				<array>
					<string>FirstStrike</string>
				</array>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>hp</key>
				<integer>3</integer>
				<key>ap</key>
				<integer>1</integer>
				<key>sp</key>
				<integer>2</integer>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>100</integer>
			<key>type</key>
			<string>ship</string>
			<key>captain</key>
			<false/>
		</dict>
		<key>Bowman</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>tapAbility</key>
				<string>Missile</string>
				<key>passiveAbilities</key>
				<array/>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>hp</key>
				<integer>2</integer>
				<key>ap</key>
				<integer>1</integer>
				<key>sp</key>
				<integer>2</integer>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>175</integer>
			<key>type</key>
			<string>ship</string>
			<key>captain</key>
			<false/>
		</dict>
		<key>Tank</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>passiveAbilities</key>
				<array>
					<string>Auto Repair</string>
				</array>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>hp</key>
				<integer>3</integer>
				<key>ap</key>
				<integer>2</integer>
				<key>sp</key>
				<integer>2</integer>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>150</integer>
			<key>type</key>
			<string>ship</string>
			<key>captain</key>
			<false/>
		</dict>
	</dict>
	<key>Archive</key>
	<dict>
		<key>Mystic Grunt</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>passiveAbilities</key>
				<array>
					<string>Fog</string>
				</array>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>hp</key>
				<integer>5</integer>
				<key>ap</key>
				<integer>2</integer>
				<key>sp</key>
				<integer>2</integer>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>150</integer>
			<key>type</key>
			<string>ship</string>
			<key>captain</key>
			<false/>
		</dict>
		<key>Mystic Soldier</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>passiveAbilities</key>
				<array>
					<string>Fog</string>
				</array>
				<key>sprite</key>
				<string>Ship.png</string>
				<key>hp</key>
				<integer>3</integer>
				<key>ap</key>
				<integer>1</integer>
			</dict>
			<key>imagename</key>
			<string>Card.png</string>
			<key>recharge</key>
			<integer>10</integer>
			<key>cost</key>
			<integer>75</integer>
			<key>type</key>
			<string>ship</string>
			<key>captain</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
