<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Vinit Deck</key>
	<dict>
		<key>Cards</key>
		<array>
			<string>Soldier</string>
			<string>Soldier</string>
			<string>Medic</string>
			<string>Wall</string>
			<string>Grunt</string>
			<string>Grunt</string>
			<string>Bowman</string>
			<string>Super Grunt</string>
			<string>Super Soldier</string>
			<string>Captain</string>
		</array>
		<key>Captain</key>
		<array>
			<string>Mana</string>
			<string>Soldier</string>
			<string>Bowman</string>
		</array>
	</dict>
	<key>Ethan Deck</key>
	<dict>
		<key>Cards</key>
		<array>
			<string>Soldier</string>
			<string>Soldier</string>
			<string>Fence</string>
			<string>Swift Soldier</string>
			<string>Grunt</string>
			<string>Grunt</string>
			<string>Tank</string>
			<string>Swift Soldier</string>
			<string>Bowman</string>
			<string>Super Soldier</string>
		</array>
		<key>Captain</key>
		<array>
			<string>Harvester</string>
			<string>Soldier</string>
			<string>Bowman</string>
		</array>
	</dict>
</dict>
</plist>
