<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Vinit Deck</key>
	<dict>
		<key>Cards</key>
		<array>
			<string>Soldier</string>
			<string>Soldier</string>
			<string>Scout</string>
			<string>Scout</string>
			<string>Grunt</string>
			<string>Medic</string>
			<string>Bowman</string>
			<string>Lightning Ninja</string>
			<string>Mystic Scout</string>
			<string>Flash Amulet</string>
		</array>
		<key>Captain</key>
		<array>
			<string>Harvester</string>
			<string>Smoke Screen</string>
			<string>Bowman</string>
		</array>
	</dict>
	<key>Ethan Deck</key>
	<dict>
		<key>Cards</key>
		<array>
			<string>Soldier</string>
			<string>Soldier</string>
			<string>Scout</string>
			<string>Scout</string>
			<string>Grunt</string>
			<string>Medic</string>
			<string>Bowman</string>
			<string>Lightning Ninja</string>
			<string>Bandages</string>
			<string>Flash Amulet</string>
		</array>
		<key>Captain</key>
		<array>
			<string>Harvester</string>
			<string>Soldier</string>
			<string>Bowman</string>
		</array>
	</dict>
</dict>
</plist>
