<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Vinit Deck</key>
	<dict>
		<key>Cards</key>
		<array>
			<string>Ship 1</string>
			<string>Ship 1</string>
			<string>Ship 1</string>
			<string>Ship 1</string>
			<string>Ship 1</string>
			<string>Ship 1</string>
			<string>Ship 1</string>
			<string>Ship 1</string>
			<string>Ship 2</string>
			<string>Ship 2</string>
			<string>Ship 2</string>
			<string>Ship 2</string>
			<string>Ship 2</string>
			<string>Ship 2</string>
		</array>
		<key>Captain</key>
		<array>
			<string>Captain 1</string>
			<string>Captain 1</string>
			<string>Captain 1</string>
		</array>
	</dict>
	<key>Ethan Deck</key>
	<dict>
		<key>Cards</key>
		<array>
			<string>Ship 1</string>
			<string>Ship 1</string>
			<string>Ship 1</string>
			<string>Ship 1</string>
			<string>Ship 1</string>
			<string>Ship 1</string>
			<string>Ship 1</string>
			<string>Ship 1</string>
			<string>Ship 2</string>
			<string>Ship 2</string>
			<string>Ship 2</string>
			<string>Ship 2</string>
			<string>Ship 2</string>
			<string>Ship 2</string>
		</array>
		<key>Captain</key>
		<array>
			<string>Captain 1</string>
			<string>Captain 1</string>
			<string>Captain 1</string>
		</array>
	</dict>
</dict>
</plist>
