<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Human-FootL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 52}, {14, 10}}</string>
			<key>spriteOffset</key>
			<string>{-7, -26}</string>
			<key>spriteSize</key>
			<string>{14, 10}</string>
			<key>spriteSourceSize</key>
			<string>{78, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 98}, {14, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Human-FootR.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 52}, {14, 10}}</string>
			<key>spriteOffset</key>
			<string>{15, -26}</string>
			<key>spriteSize</key>
			<string>{14, 10}</string>
			<key>spriteSourceSize</key>
			<string>{78, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 86}, {14, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Human-General-Body.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {54, 52}}</string>
			<key>spriteOffset</key>
			<string>{-3, 5}</string>
			<key>spriteSize</key>
			<string>{54, 52}</string>
			<key>spriteSourceSize</key>
			<string>{78, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{58, 84}, {54, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Human-General-BodyArmor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 15}, {58, 40}}</string>
			<key>spriteOffset</key>
			<string>{-3, -4}</string>
			<key>spriteSize</key>
			<string>{58, 40}</string>
			<key>spriteSourceSize</key>
			<string>{78, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{58, 42}, {58, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Human-General-Face.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 1}, {36, 30}}</string>
			<key>spriteOffset</key>
			<string>{1, 15}</string>
			<key>spriteSize</key>
			<string>{36, 30}</string>
			<key>spriteSourceSize</key>
			<string>{78, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 0}, {36, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Human-General-ShoulderB.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 17}, {16, 20}}</string>
			<key>spriteOffset</key>
			<string>{23, 4}</string>
			<key>spriteSize</key>
			<string>{16, 20}</string>
			<key>spriteSourceSize</key>
			<string>{78, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{40, 96}, {16, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Human-General-ShoulderF.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {22, 28}}</string>
			<key>spriteOffset</key>
			<string>{-28, 5}</string>
			<key>spriteSize</key>
			<string>{22, 28}</string>
			<key>spriteSourceSize</key>
			<string>{78, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 0}, {22, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Human-Grunt-Body.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 4}, {56, 52}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{56, 52}</string>
			<key>spriteSourceSize</key>
			<string>{78, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 42}, {56, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Human-Grunt-BodyArmor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 21}, {60, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -10}</string>
			<key>spriteSize</key>
			<string>{60, 40}</string>
			<key>spriteSourceSize</key>
			<string>{78, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {60, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Human-Grunt-Face.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 4}, {38, 26}}</string>
			<key>spriteOffset</key>
			<string>{3, 14}</string>
			<key>spriteSize</key>
			<string>{38, 26}</string>
			<key>spriteSourceSize</key>
			<string>{78, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 96}, {38, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Human-Hand.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{61, 38}, {10, 10}}</string>
			<key>spriteOffset</key>
			<string>{27, -12}</string>
			<key>spriteSize</key>
			<string>{10, 10}</string>
			<key>spriteSourceSize</key>
			<string>{78, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 110}, {10, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Human-Shield.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 32}, {24, 26}}</string>
			<key>spriteOffset</key>
			<string>{-20, -14}</string>
			<key>spriteSize</key>
			<string>{24, 26}</string>
			<key>spriteSourceSize</key>
			<string>{78, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{32, 124}, {24, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Human-Soldier-Body.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 10}, {30, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, -4}</string>
			<key>spriteSize</key>
			<string>{30, 50}</string>
			<key>spriteSourceSize</key>
			<string>{78, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 124}, {30, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Human-Soldier-Face.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 13}, {26, 30}}</string>
			<key>spriteOffset</key>
			<string>{5, 3}</string>
			<key>spriteSize</key>
			<string>{26, 30}</string>
			<key>spriteSourceSize</key>
			<string>{78, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 0}, {26, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Human-Sword.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 4}, {24, 52}}</string>
			<key>spriteOffset</key>
			<string>{27, 1}</string>
			<key>spriteSize</key>
			<string>{24, 52}</string>
			<key>spriteSourceSize</key>
			<string>{78, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 32}, {24, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>Humans-SpriteSheet.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Humans-SpriteSheet</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Humans-SpriteSheet</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>